<!--/MotoTourReview/app/views/public/posts/_map_new.html.erb-->
<div class="row">
  <div class="card border border-secondary text-center">
    <div class="d-grid gap-2 col-10 mx-auto mt-2">
      <button type="button" class="btn btn-sm btn-outline-secondary" onclick='codeSpot()'>Map表示</button>
    </div>
    <div class="mx-auto my-2" id="map" style="height: 500px; width: 100%;"></div>
  </div>
</div>

<script>
  let map;
  let marker; // ピン
  let geocoder;

  // 初期マップの設定
  function initMap() {
    geocoder = new google.maps.Geocoder();
    map = new google.maps.Map(document.getElementById('map'), {
      center: { lat: 36, lng: 138 },
      zoom: 15,
      fullscreenControl: false, //マップを全画面モードで表示するボタンを非表示
      streetViewControl: false, //ストリートビューに切り替えるボタンを非表示
      scaleControl: true, //地図のスケールを表示（デフォルトは非表示）
      mapTypeControl: false //地図と航空写真を切り替えるボタンを非表示
    });
  }

  // スポット名を住所に変換して地図上に表示する関数
  function codeSpot() {
    let spotName = document.getElementById('post_spot_name').value;
    geocoder.geocode({ 'address': spotName }, function(results, status) {
      if (status === 'OK' && results[0]) {
        let location = results[0].geometry.location;

        // 以前のマーカーがあれば削除
        if (marker) {
          marker.setMap(null);
        }

        marker = new google.maps.Marker({
          map: map,
          position: location,
          title: spotName
        });

        // 地図を新しい位置にセンタリング
        map.setCenter(location);
      } else {
        console.log('Geocode was not successful for the following reason: ' + status);
      }
    });
  }

  // スポット名を住所に自動入力する関数
  function autoFillAddress() {
    let spotName = document.getElementById('post_spot_name').value;
    geocoder.geocode({ 'address': spotName }, function(results, status) {
      if (status === 'OK' && results[0]) {
        let formattedAddress = results[0].formatted_address;
        document.getElementById('post_address').value = formattedAddress;

        // 緯度と経度を取得して設定
        let latitude = results[0].geometry.location.lat();
        let longitude = results[0].geometry.location.lng();
        document.getElementById('post_latitude').value = latitude;
        document.getElementById('post_longitude').value = longitude;
      } else {
        console.log('Geocode was not successful for the following reason: ' + status);
      }
    });
  }

  // Mapをリフレッシュする関数
  function refreshMap() {
    // 現在の地図を削除
    let mapElement = document.getElementById('map');
    mapElement.innerHTML = ''; // 地図を削除

    // 地図を再描画
    initMap();
  }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap"></script>
