<div class="container px-5 px-sm-0">
  <div class="row">
    <div class ="mx-auto col-md-12 col-sm-11 mt-5 text-center">
      <div>
        <h1>バイクツーリングをもっと楽しく</h1>
      </div>
      <div>
        <p>
          <b>MotoTourReview</b>はツーリングの体験を共有し、記録するためのサイトです。</br>
          訪れたスポットのレビューや感想、思い出を、画像とともに投稿することができます。</br>
          他のライダーの投稿も閲覧でき、ツーリングプランを立てる際の参考として活用することができます。
        </p>
      </div>
    </div>
  </div>
</div>