<!--/MotoTourReview/app/views/public/homes/about.html.erb-->
<div class="container px-5 px-sm-0">
  <div class="row">

    <div class ="mx-auto mt-5 align-items-center">
      <div class="text-center">
        <h1>バイクツーリングをもっと楽しく</h1>
        <p>
          <span class="text-danger"><b>MotoTourReview</b></span>はツーリングの体験を共有し、記録するためのサイトです。</br>
          訪れたスポットのレビューや感想、思い出を、画像とともに投稿することができます。</br>
          他のライダーの投稿も閲覧でき、ツーリングプランを立てる際の参考として活用することができます。
        </p>
      </div>
    </div>

    <div class="top-btn d-grid gap-2 col-2 mx-auto text-center">
      <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary btn-sm" %>
      <%= link_to "ログイン", new_user_session_path, class: "btn btn-info btn-sm" %>
      <div>
        <%= link_to 'ゲストログインはこちら', users_guest_sign_in_path, method: :post, class: "links" %>
      </div>
    </div>

  </div>
</div>