@import "~bootstrap/scss/bootstrap.scss";

.field_with_errors {
  display: contents;
}

body {
  font-family:"HGP創英角ゴシックUB";
  animation: bgchange 20s ease infinite;
  color: #17345B;
}
@keyframes bgchange{
    0% { background: #F1F5F5; } /* 基調色 */
    20% { background: #EDF7ED; } /* 淡い緑系統の色 */
    40% { background: #E4F2F5; } /* 淡い青系統の色 */
    60% { background: #FFECE3; } /* 淡いオレンジ系統の色 */
    80% { background: #FFF5E1; } /* 淡い黄系統の色 */
    100% { background: #F1F5F5; } /* 基調色 */
 }
header {
  background: radial-gradient(circle, transparent 20%, #3E9ADE 20%, #3E9ADE 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #3E9ADE 20%, #3E9ADE 80%, transparent 80%, transparent) 20px 20px, linear-gradient(#3c8dca 1.6px, transparent 1.6px) 0 -0.8px, linear-gradient(90deg, #3c8dca 1.6px, #3E9ADE 1.6px) -0.8px 0;
  background-size: 40px 40px, 40px 40px, 20px 20px, 20px 20px;
}
footer {
  background: #888481;
}
.logo-img {
  height: 50px;
}
.footer-links {
  list-style: none;
  padding: 0;
}
.footer-links li {
  display: inline;
  margin-right: 20px;
}
.footer-links a {
  color: #ffffff;
  text-decoration: none;
}




.top-img {
  opacity: 0.5;
}

.links {
  color: #888481;
  text-decoration: none;
}



.card {
  margin-bottom: 5px;
  border: solid 3px #888481;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.4);
}
