@import "~bootstrap/scss/bootstrap.scss";

body {
  font-family:"HGP創英角ゴシックUB";
  background: #F1F5F5;
  color: #17345B;
}
header {
  background: #3E9ADE;
  background: radial-gradient(circle, transparent 20%, #3E9ADE 20%, #3E9ADE 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #3E9ADE 20%, #3E9ADE 80%, transparent 80%, transparent) 20px 20px, linear-gradient(#3c8dca 1.6px, transparent 1.6px) 0 -0.8px, linear-gradient(90deg, #3c8dca 1.6px, #3E9ADE 1.6px) -0.8px 0;
  background-size: 40px 40px, 40px 40px, 20px 20px, 20px 20px;
}
footer {
  background: #888481;
}
.logo-img {
  height: 50px;
}
.footer-links {
  list-style: none;
  padding: 0;
}
.footer-links li {
  display: inline;
  margin-right: 20px;
}
.footer-links a {
  color: #ffffff;
  text-decoration: none;
}




.top-img {
  opacity: 0.5;
}

.links {
  color: #888481;
  text-decoration: none;
}



.profile-box {
  align-items: center;
  justify-content: center;
  color: #17345B;
  border: solid 3px #888481;
  background-color: #F1F5F5;
  border-radius: 3px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.4);
}



.post-image {
  height: 200px;
  object-fit: cover;
  margin: 5px;
  border-radius: 15px;
}

.card {
  margin-bottom: 5px;
  border: solid 3px #888481;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.4);
}