/MotoTourReview/app/views/admin/categories/index.html.erb
<h4>カテゴリ一覧</h4>
<% @categories.each do |category| %>
  <span><%= link_to category.name, edit_admin_category_path(category) %></span>
<% end %>

<h4></h4>
<%= link_to "追加", new_admin_category_path %>