<!-- /MotoTourReview/app/views/admin/categories/index.html.erb -->
<div class="container mt-4">
  <div class="row my-5 gx-5">
    <div class="col-md-6 mx-auto">
      <h4 class="mb-3">カテゴリ一覧</h4>
      <ul class="list-group">
        <% @categories.each do |category| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <%= category.name %>
            <div class="btn-group">
              <%= link_to "編集", edit_admin_category_path(category), class: "btn btn-primary btn-sm" %>
              <%= link_to "削除", admin_category_path(category), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger btn-sm" %>
            </div>
          </li>
        <% end %>
      </ul>

      <div class="mt-3">
        <%= link_to "新しいカテゴリを追加", new_admin_category_path, class: "btn btn-success btn-sm" %>
      </div>
    </div>
  </div>
</div>
