<!-- /MotoTourReview/app/views/public/users/unsubscribe.html.erb -->
<div class="container my-5">
  <div class="row justify-content-center mx-auto">
    <div class="col-md-6 text-center">
      <h2 class="mb-4">退会確認</h2>
      <p class="mb-4">本当に退会しますか？</p>
      <div class="d-flex justify-content-center">
        <%= link_to "退会する", withdrawal_user_path(@user), method: :patch, data: { confirm: "本当に退会しますか？" }, class: "btn btn-danger unsubscribe-button mr-3" %>
        <%= link_to "キャンセル", user_path(@user), class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>