<div class="container">
  <div class="row">
    <div class="col-12 col-md-4 order-1 order-md-0 mx-0">
      <img src="<%= asset_path('logo_white') %>" alt="Footer Logo" class="logo-img">
    </div>

    <div class="col-12 col-md-4 order-0 order-md-1 mx-0">
      <ul class="footer-links text-end">
        <li><a href="/">トップ</a></li>
        <li><a href="/about">このサイトについて</a></li>
      </ul>
    </div>

    <div class="col-12 col-md-4 order-0 order-md-1 mx-0">
      <ul class="footer-links text-end">
        <li><a href="">利用規則</a></li>
        <li><a href="">プライバシーポリシー</a></li>
      </ul>
    </div>

  </div>
</div>